.privacy-policy-item .icon {
  float: left;
  width: 64px;
  height: auto;
}

.privacy-policy-item.with-icon .title,
.privacy-policy-item.with-icon p {
  margin-left: 72px;
}

.privacy-policy-item {
  padding-top: .5em;
}

.privacy-policy-item .title {
  border-bottom: thin silver solid;
}

.privacy-policy-item.no-icon .title,
.privacy-policy-item.no-icon p {
  margin-left: 72px;
}